{% extends 'base.html.twig' %}

{% block body %}

    {{ app.session.set('heroID', hero.id) }}
    {{ app.session.set('heroHealth', hero.health) }}
    {{ app.session.set('heroStr', hero.strength) }}
    {{ app.session.set('heroAgi', hero.agility) }}
    {{ app.session.set('heroIntel', hero.intelligence) }}
    {{ app.session.set('heroChance', hero.Chance) }}
    {{ app.session.set('heroDamages', hero.Damages) }}
    {{ app.session.set('heroName', hero.Name) }}
    {{ app.session.set('heroImg', hero.image) }}

{% for level in levels %}
    <div class="container divmt">
        <div class="row">

            <div class="col-md-6 mb-3">
                <h1 style="text-align: center;">{{ level.name }}</h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ level.name }}</td>
                    </tr>
                    <tr>
                        <th>Difficulté</th>
                        <td>{{ level.difficulty }}</td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-outline-danger" href="{{ path('level_show', { 'id': level.id }) }}">Choisir ce niveau</a>
            </div>

            <div class=" col-md-6 mb-3">
                <img class="card-img-top" src="../../img/lvl/{{ level.id }}.jpg">
            </div>

        </div>
        <hr>
    </div>
{% endfor %}

{% endblock %}

 {# <h1>Liste des niveaux</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Difficulty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for level in levels %}
            <tr>
                <td><a href="{{ path('level_show', { 'id': level.id }) }}">{{ level.id }}</a></td>
                <td>{{ level.name }}</td>
                <td>{{ level.difficulty }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('level_show', { 'id': level.id }) }}">Choose</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>#}
