{% extends 'base.html.twig' %}

{% block body %}

    {{ app.session.set('heroID', hero.id) }}
    {{ app.session.set('heroHealth', hero.health) }}
    {{ app.session.set('heroStr', hero.strength) }}
    {{ app.session.set('heroAgi', hero.agility) }}
    {{ app.session.set('heroIntel', hero.intelligence) }}
    {{ app.session.set('heroChance', hero.Chance) }}
    {{ app.session.set('heroDamages', hero.Damages) }}
    {{ app.session.set('heroName', hero.Name) }}
    {{ app.session.set('heroImg', hero.image) }}
    <h1>Levels list</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Difficulty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for level in levels %}
            <tr>
                <td><a href="{{ path('level_show', { 'id': level.id }) }}">{{ level.id }}</a></td>
                <td>{{ level.name }}</td>
                <td>{{ level.difficulty }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('level_show', { 'id': level.id }) }}">Choose</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
