<!DOCTYPE html>
<html>

<head>


    {% block stylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon2.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/combat.css') }}"/>

    {% endblock %}



</head>

<body>

<div id ="myContainer">

    <div id="animAl">
        <div class="bar-hero bar-con">
            <div class="bar" data-health={{ app.session.get('heroHealth') }}></div>
        </div>
        <img src="../../img/tkn.png" alt="Allies">

    </div>
{% if level.id<7 %}
    <div class="next">
        <a href="{{ path('level_show', { 'id': level.id+1 }) }}">Next</a>
    </div>
{% endif %}
    <div id="info">
        <div id="msg"></div>
    </div>
    <div id="monster">
        {% set num=1 %}
        {% for monsters in level.getmonsters() %}
        <div id ="animEn{{ num }}" data-isalive=1>

            <img src="../../img/personnage.png" alt={{ monsters.name }}>
            <div class="bar-{{ num }} bar-con" >
                <div class="bar" data-health={{ monsters.health }} ></div>
            </div>
        </div>
            {% set num=num+1 %}
        {% endfor %}
        {% for num in num..3 %}
            <div id ="animEn{{ num }}" style="visibility: hidden">

                <div class="bar-{{ num }} bar-con" >
                    <div class="bar"  data-health=0></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<script src="../../js/jQuery.js"></script>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('../../js/combat.js') }}" ></script>

{% endblock %}


</body>
</html>
