
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Balrog{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon2.ico') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/popup.css') }}"/>

        {% endblock %}
    </head>
    <body>

        {% block navbar %}
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand mx-auto" href="#">Balrog</a>
                    <div class="collapse navbar-collapse" id="navbarCollapse1">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"> <a class="nav-link" href="#Accueil">Accueil <span class="sr-only">(current)</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#Encyclopedie">Encyclopédie</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#Univers">Univers</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#Actualites">Actualités</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal">Connexion</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal" data-target="#sign-modal">Inscription</a> </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navigation -->
        {% endblock %}

        {% block carousel %}
            <!-- Swiper Silder
                ================================================== -->
            <!-- Slider main container -->
            <div class="swiper-container main-slider" id="Accueil">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slider-bg-position" style="background:url('http://79.137.84.144/~gollum/img/carousel1.png')" data-hash="slide1">
                        <h2>Affrontez des monstres légendaires</h2>
                    </div>
                    <div class="swiper-slide slider-bg-position" style="background:url('http://79.137.84.144/~gollum/img/carousel2.png')" data-hash="slide2">
                        <h2>Partez à l'aventure en terre du milieu</h2>
                    </div>
                    <div class="swiper-slide slider-bg-position" style="background:url('http://79.137.84.144/~gollum/img/carousel3.png')" data-hash="slide3">
                        <h2>Obtenez de puissantes reliques</h2>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Navigation -->
                <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
                <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div>
            </div>

        {% endblock  %}

        {% block welcome %}
            <!-- Card -->
            <section id="Encyclopedie" class="bg-white">
            <div class="container container mt-0 mb-0">
                <h3 class="display-4 text-center"> Encyclopédie </h3>
                <hr class="bg-dark mb-4 w-25">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="img/personnage.png" alt="Personnage">
                            <div class="card-block p-3 text-center">
                                <h4 class="card-title ">Personnages</h4>
                                <p class="card-text">Vous avez accès à 4 classes différentes. Chacunes des classes ayant des compétences uniques et une arme.</p>
                                <a href="#!" class="btn btn-rose rounded-0 mb-2">Listes des personnages</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="img/monstre.png" alt="Monstre">
                            <div class="card-block p-3 text-center">
                                <h4 class="card-title">Monstres</h4>
                                <p class="card-text">Fait progresser ton personnage en affrontant des monstres venu de différents horizons. Attention au Balrog. :)</p>
                                <a href="#!" class="btn btn-rose rounded-0 mb-2">Encyclopédie des monstres</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="img/equipement.png" alt="Equipement">
                            <div class="card-block p-3 text-center" >
                                <h4 class="card-title">Équipements</h4>
                                <p class="card-text">Les monstres possèdent des reliques uniques. Combattez en beaucoup afin d'obtenir les équipements les plus rares.</p>
                                <a href="#!" class="btn btn-rose rounded-0 mb-2">Équipements et trésors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
            <!-- Card -->

            <section id="Univers" class="bg-dark text-purple">
            <div class="container mb-0 ">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="display-4 text-center">Univers</h3>
                        <hr align="center" class="bg-rose mb-4 w-25">
                        <p class="lead">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                        <p>
                            When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <ul class="list-unstyled pl-4">
                            <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                            <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                            <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                        </ul>
                    </div>
                    <div class="col-md-4 mt-5">
                        <img class="card-img-top" src="img/loup.png" alt="Card image cap">
                    </div>
                </div>
            </div>
        </section>

            <section id="Actualites" class="bg-white">
                <h3 class="display-4 text-center"> Actualités </h3>
                <hr class="bg-dark mb-4 w-25">
                <!-- Grid column -->
            <div class="container-fluid mt-0 mb-0">
                <div class="row">
                <div class="col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/news1.png" class="img-fluid" alt="photo">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Title-->
                            <h4 class="card-title">Préparez-vous pour le nouveau système de guerres</h4>
                            <!--Text-->
                            <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores est quas molestias excepturi sint occaecati cupiditate non provident similique.</p>
                            <a href="#!" class="btn btn-outline-danger waves-effect">Lire la suite..</a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/news2.png" class="img-fluid" alt="photo">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Title-->
                            <h4 class="card-title">Ouverture du donjon de Naheulbeuk</h4>
                            <!--Text-->
                            <p class="card-text">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
                            <a href="#!" class="btn btn-outline-danger waves-effect">Lire la suite..</a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!-- Grid column -->
                </div>
            </div>
            </section>


        {% endblock %}


        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">


                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <ul class="menu">
                                <span>Menu</span>
                                <li>
                                    <a href="#Accueil">Accueil</a>
                                </li>

                                <li>
                                    <a href="#Encyclopedie">Encyclopédie</a>
                                </li>

                                <li>
                                    <a href="#Univers">Univers</a>
                                </li>

                                <li>
                                    <a href="#Actualites">Actualités</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <ul class="address">
                                <span>Contact</span>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">06 66 66 66 66</a>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Panthéon-Sorbonne</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">contact@balrog.fr</a>
                                </li>
                                <li>
                                    <i class="fa fa-heart" aria-hidden="true"></i> <a href="#">Made with Heart</a>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <img src="img/balrog.png" alt="Balrog">
                        </div>


                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block body %}

        {% endblock %}

        {% block login %}
            <!-- BEGIN # MODAL login -->
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div  align="center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>


                        <!-- Begin # DIV Form -->

                        <div class="card ripe-malinka-gradient form-white">
                            <div class="card-body">
                                <!-- Form register -->
                                <form>
                                    <h2 class="text-center font-up font-bold py-4 white-text">Connexion</h2>
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix white-text"></i>
                                        <input type="text" id="orangeForm-email2" class="form-control">
                                        <label for="orangeForm-email2">@Mail</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-lock prefix white-text"></i>
                                        <input type="password" id="orangeForm-pass2" class="form-control">
                                        <label for="orangeForm-pass2">Mot de passe</label>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-outline-white waves-effect waves-light">Se connecter</button>
                                    </div>
                                </form>
                                <!-- Form register -->
                            </div>
                        </div>

                        </div>
                        <!-- End # DIV Form -->

                    </div>
                </div>
            </div>
            <!-- END # MODAL LOGIN -->
        {% endblock %}

        {% block sign %}
            <!-- BEGIN # MODAL sign -->
            <div class="modal fade" id="sign-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div  align="center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>


                        <!-- Begin # DIV Form -->

                        <div class="card ripe-malinka-gradient form-white">
                            <div class="card-body">
                                <!-- Form register -->
                                <form>
                                    <h2 class="text-center font-up font-bold py-4 white-text">Inscription</h2>
                                    <div class="md-form">
                                        <i class="fa fa-user prefix white-text"></i>
                                        <input type="text" id="orangeForm-name2" class="form-control">
                                        <label for="orangeForm-name2">Pseudo</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix white-text"></i>
                                        <input type="text" id="orangeForm-email2" class="form-control">
                                        <label for="orangeForm-email2">@Mail</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-lock prefix white-text"></i>
                                        <input type="password" id="orangeForm-pass2" class="form-control">
                                        <label for="orangeForm-pass2">Mot de passe</label>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-outline-white waves-effect waves-light">S'inscrire</button>
                                    </div>
                                </form>
                                <!-- Form register -->
                            </div>
                        </div>

                    </div>
                    <!-- End # DIV Form -->

                </div>
            </div>
            </div>
            <!-- END # MODAL LOGIN -->
        {% endblock %}





        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{ asset('js/swiper.js') }}" ></script>
            <script type="text/javascript" src="{{ asset('js/popup.js') }}" ></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
        {% endblock %}
    </body>
</html>
