{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid padding-top divmt">
        <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-4">
                <h1>Monstres</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Dégats</th>
                            <th>Attaque</th>
                            <th>Vitalité</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for monster in monsters %}
                        <tr>
                            <td>{{ monster.name }}</td>
                            <td>{{ monster.damages }}</td>
                            <td>{{ monster.attackName }}</td>
                            <td>{{ monster.health }}</td>
                            <td>
                                <a class="btn btn-outline-danger" href="{{ path('monster_show', { 'id': monster.id }) }}">Voir</a>
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
