{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-md-6 mb-3" style="margin-top:150px;">
                <h1>Monstre</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ monster.name }}</td>
                        </tr>
                        <tr>
                            <th>Dégats</th>
                            <td>{{ monster.damages }}</td>
                        </tr>
                        <tr>
                            <th>Attaque</th>
                            <td>{{ monster.attackName }}</td>
                        </tr>
                        <tr>
                            <th>Vitalité</th>
                            <td>{{ monster.health }}</td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-outline-danger" href="{{ path('monster_index') }}">Retourner à la liste</a>
            </div>

            <div class=" col-md-6 mb-3 divmt">
                <img class="card-img-top" src="{{ asset('img/monstre2.png') }}" alt="Card image cap">
            </div>

        </div>
    </div>
{% endblock %}
