{% extends 'base.html.twig' %}

{% block body %}
<div class="container mb-5 divmt">
    <div class="row">
        <div class="col-md-6">
            <img class="card-img-top" src="../../img/{{ hero.classe }}.jpg">
        </div>

        <div class="col-md-6 divmt">
            {% if hero.user == app.user %}
            <h1>{{ hero.classe }} - {{ hero.name }}</h1>
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="row">
                <input class="btn btn-outline-green" type="submit" value="Modifier nom" />
                {{ form_end(edit_form) }}
                {{ form_start(delete_form) }}
                <input class="btn btn-outline-warning" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
                <a class="btn btn-outline-primary" href="{{ path('hero_index') }}">Retour</a>
            </div>
            {% endif %}
            {% if hero.user != app.user %}
            <h1>Pas de chance!</h1>
                <br><br>
                <h5>Ce personnage appartient à {{ hero.user }}...</h5>
            {% endif %}
        </div>


    </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}