{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
        <div class="container">
            <a class="navbar-brand mx-auto" href="{{ path('accueil') }}">Accueil</a>
            <div class="collapse navbar-collapse" id="navbarCollapse1"></div>
        </div>
    </nav>
{% endblock %}

{% block body %}
<div class="container-fluid divmt">
    <div class="row">
        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">
            {% if hero.user == app.user %}
            <h1>Hero edit</h1>
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="row">
                <div class="col-sm">
                    <input class="btn btn-outline-danger" type="submit" value="Edit" />
                    {{ form_end(edit_form) }}
                </div>
                <div class="col-sm">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-outline-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
            {% endif %}
            {% if hero.user != app.user %}
            <h1>Pas de chance!</h1>
                <br><br>
                <h5>Ce personnage appartient à {{ hero.user }}...</h5>
            {% endif %}
        </div>

        <div class="col-lg-4">
            <br>
            <a class="btn btn-outline-primary" href="{{ path('hero_index') }}">Back to the list</a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}