{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
        <div class="container">
            <a class="navbar-brand mx-auto" href="{{ path('accueil') }}">Accueil</a>
            <div class="collapse navbar-collapse" id="navbarCollapse1"></div>
        </div>
    </nav>
{% endblock %}

{% block body %}
<div class="container-fluid divmt" >
    <div class="row">
        <div class="col-lg-5">
        </div>
        <div class="col-lg-4">
            <h1>Heroes list</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Classe</th>
                        <th>Level</th>
                        <th>Health</th>
                        <th>Strength</th>
                        <th>Agility</th>
                        <th>Intelligence</th>
                        <th>Chance</th>
                        <th>Damages</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                {% set nb=0 %}
                {% for hero in heroes %}
                    {% if hero.user == app.user %}
                        {% set nb=nb+1 %}
                        <tr>
                            <td><a href="{{ path('hero_show', { 'id': hero.id }) }}">{{ nb }}</a></td>
                            <td>{{ hero.name }}</td>
                            <td>{{ hero.classe }}</td>
                            <td>{{ hero.level }}</td>
                            <td>{{ hero.health }}</td>
                            <td>{{ hero.strength }}</td>
                            <td>{{ hero.agility }}</td>
                            <td>{{ hero.intelligence }}</td>
                            <td>{{ hero.chance }}</td>
                            <td>{{ hero.damages }}</td>
                            <td>
                                <div class="">
                                    <a class="btn btn-outline-danger btn-block" href="{{ path('hero_show', { 'id': hero.id }) }}">show</a>
                                    <a class="btn btn-outline-danger btn-block" href="{{ path('hero_edit', { 'id': hero.id }) }}">edit</a>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-2 ">
            <a class="btn btn-outline-primary" href="{{ path('hero_new') }}">Create a new hero</a>
        </div>

    </div>
</div>
{% endblock %}
