{% extends 'base.html.twig' %}

{% block body %}
<div class="container divmt mb-5">
    <div class="row">
        <div class="col-md-6">
            <img class="card-img-top" src="{{ asset('img/createhero.png') }}">
        </div>

        <div class="col-md-6 divmt">
            <h1>Création d'un personnage</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% set user= app.user.username %}
            <input class="btn btn-outline-green" type="submit" value="Créer" />
            <a class="btn btn-outline-primary" href="{{ path('hero_index') }}">Retour</a>
            {{ form_end(form) }}
        </div>


    </div>
</div>
{% endblock %}
