<title>{% block title %}Balrog{% endblock %}</title>

<link rel="icon" type="image/x-icon" href="{{ asset('favicon2.ico') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>

{% block style %}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
        <div class="container">
            <a class="navbar-brand mx-auto" href="{{ path('accueil') }}">Accueil</a>
            <div class="collapse navbar-collapse" id="navbarCollapse1"></div>
        </div>
    </nav>
{% endblock %}

    {% block body %}
        {% block fos_user_content %}{% endblock %}
    {% endblock %}

{% block footer %}
    <div class="container-fluid bg-dark">
        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <img src="{{ asset('img/balrog.png') }}" alt="Balrog">
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mt-3">
                <ul class="menu">
                    <span>Équipe</span>
                    <li>
                        <a href="{{ path('accueil') }}">Arthur JACQUEMIN</a>
                    </li>

                    <li>
                        <a href="#!">Moussa ISKOUNENE</a>
                    </li>

                    <li>
                        <a href="#!">Etienne GOUJON</a>
                    </li>

                    <li>
                        <a href="#!">Mehdi ZAIDI</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mt-3">
                <ul class="address">
                    <span>Contact</span>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">06 66 66 66 66</a>
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Panthéon-Sorbonne</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">contact@balrog.fr</a>
                    </li>
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i> <a href="#">Made with Heart</a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
{% endblock %}


{% block script %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js'></script>
<script type="text/javascript" src="{{ asset('js/connexion.js') }}" ></script>
{% endblock %}

