{% extends 'base.html.twig' %}

{% block body %}
    <div class="container divmt">
        <div class="row">

            <div class="col-md-6">
                <h1 style="text-align:center;">Équipement</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ equipment.name }}</td>
                        </tr>
                        <tr>
                            <th>Rareté</th>
                            <td>{{ equipment.rareness }}</td>
                        </tr>
                        <tr>
                            <th>Force</th>
                            <td>{{ equipment.strength }}</td>
                        </tr>
                        <tr>
                            <th>Agilité</th>
                            <td>{{ equipment.agility }}</td>
                        </tr>
                        <tr>
                            <th>Intelligence</th>
                            <td>{{ equipment.intelligence }}</td>
                        </tr>
                        <tr>
                            <th>Chance</th>
                            <td>{{ equipment.chance }}</td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-outline-danger" href="{{ path('equipment_index') }}">Retourner à la liste</a>
            </div>

            <div class="col-md-6" style="margin-top:-50px;">
                <img src="{{ asset('img/equipement2.png') }}" class="card-img-top">
            </div>

        </div>
    </div>
{% endblock %}
